# Python
__pycache__/
*.pyc
*.pyo
.Python
.vscode/

# Flask
instance/
*.log
.env

# Node.js / npm
node_modules/
dist/
package-lock.json

# Angular
/CHESSApp_front/node_modules/
/CHESSApp_front/dist/

# IDE-specific files (optional, based on your IDE)
.idea/
.vscode/
