.custom-container {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .custom-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .source-accordion .accordion-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 0.5rem;
  }
  
  .source-accordion .accordion-header {
    background-color: #f8f9fa;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  
  .source-accordion .accordion-item.active-accordion-item .accordion-header {
    background-color: #45b08c;
    color: white;
  }
  
  .source-accordion .button-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .source-accordion .button-group .btn {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  