body {
    overflow: hidden;
  }
  
  .custom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2vh 2vh;
  }
  
  .custom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .custom-sourceSettingsColumn {
    flex: 0 0 30%;
    border-right: 1px solid #ccc;
  }

  .custom-evidenceSettingsColumn {
    flex: 0 0 30%;
  }

  .custom-summaryColumn {
    flex: 0 0 40%;
    border-right: 1px solid #ccc;
  }
  
  .custom-container {
    height: 80vh;
    overflow-y: auto;
  }
  
  .custom-header {
    padding: 15px;
    font-size: 1.5rem;
  }
  