.cardButtonContainer {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between the cards */
    margin: 50px;
    flex-wrap: nowrap; /* Prevents cards from wrapping to the next line */
  }
  
  /* Add margin between the cards */
  .cardButtonContainer > * {
    margin-right: 10px; /* Adjust the margin to your preference */
  }
  
  /* Remove the right margin from the last card to avoid extra space */
  .cardButtonContainer > *:last-child {
    margin-right: 0;
  }
  
  