.explore-container {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  height: 100vh;
  overflow-y: auto;
}

.main-view {
  height: 100vh;
  overflow-y: auto;
  padding-top: 20px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
