table {
    border: 1px solid lightgray;
  }
  
  tbody {
    border-bottom: 1px solid lightgray;
  }
  
  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  td {
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  td:last-child {
    border-right: 0;
  }

  tfoot {
    color: gray;
  }
  
  tfoot th {
    font-weight: normal;
  }

  .view {
    margin: auto;
    width: 600px;
  }
  
  .wrapper {
    position: relative;
    overflow: auto;
    border: 1px solid black;
    white-space: nowrap;
  }
  
  .rt-tbody {
    overflow: visible !important;
  }
  .sticky {
    position: sticky;
    background-color: red;
    left: 0;
    top: 0;
  }