table {
    border: 1px solid lightgray;
}

tbody {
    border-bottom: 1px solid lightgray;
}

th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}

td {
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}

td:last-child {
    border-right: 0;
}

tfoot {
    color: gray;
}

tfoot th {
    font-weight: normal;
}

button.chevron {
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
}

button.chevron.right {
    border-width: 4px 0 4px 6px;
    border-color: transparent transparent transparent #000;
}

button.chevron.down {
    border-width: 6px 4px 0 4px;
    border-color: #000 transparent transparent transparent;
}


.table th, .table td {
    white-space: nowrap;
}

.table th:last-child, .table td:last-child {
    width: 100%;
}