/* tbody tr:hover {
  background-color: lightblue;
} */

tbody tr:nth-child(even):hover {
    background-color: lightblue;
  }
  
  tbody tr:nth-child(odd):hover {
    background-color: lightblue;
  }
  